.color-negro {
  color : #1f1911;
}
.color-gris-1 {
  color : #e4e7e8;
}
.color-gris-2 {
  color : #766453;
}
.color-gris-3 {
  color : #7f684f;
}
.color-naranja {
  color : #cd8f49;
}
.color-cafe-1 {
  color : #e8e0d2;
}
.color-cafe-2 {
  color : #a76105;
}
.color-cafe-3 {
  color : #a8702f;
}
.color-cafe-4 {
  color : #9a5405;
}
.background-negro {
  background : #1f1911;
}
.background-gris-1 {
  background : #e4e7e8;
}
.background-gris-2 {
  background : #766453;
}
.background-gris-3 {
  background : #7f684f;
}
.background-naranja {
  background : #cd8f49;
}
.background-cafe-1 {
  background : #e8e0d2;
}
.background-cafe-2 {
  background : #a76105;
}
.background-cafe-3 {
  background : #a8702f;
}
.background-cafe-4 {
  background : #9a5405;
}
