.nav-link {
  padding: .2rem 1rem;
}
.navbar-border-left{
  border-left: 0.15rem solid #21160d;
}
.navbar {
  padding: .7rem 1rem;
}
nav .nav-item a{
  font-size: 14px;
}
.navbar {
  background-color: transparent;
}
.navbar .navbar-brand {
  color: #595045;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #a15300;
}
.navbar .navbar-text {
  color: #595045;
}
.navbar .navbar-text a {
  color: #a15300;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #a15300;
}
.navbar .navbar-nav .nav-link {
  color: #595045;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #a15300;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #a15300;
  background-color: #dfd8ca;
}
.navbar .navbar-toggle {
  border-color: #dfd8ca;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #dfd8ca;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #595045;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #595045;
}
.navbar .navbar-link {
  color: #595045;
}
.navbar .navbar-link:hover {
  color: #a15300;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #595045;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #a15300;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #a15300;
    background-color: #dfd8ca;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #595045;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #a15300;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #a15300;
    background-color: #dfd8ca;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #595045;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #a15300;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #a15300;
    background-color: #dfd8ca;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #595045;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #a15300;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #a15300;
    background-color: #dfd8ca;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #595045;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #a15300;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #a15300;
  background-color: #dfd8ca;
}
